mixin checkoutProductCard(item)
    .flex.items-start.mb-3
        img.h-20.w-20.object-cover.rounded-md(src='/images/girl-kurti.webp')
        .ml-4
            h2.text-sm.font-medium.text-gray-700
                | Gujrati festival kurti
            p.text-sm.font-bold.text-gray-700 $ 450
            p.text-xs.text-gray-500.flex.items-center.justify-between.w-20.my-2
                span.text-sm.h-6.w-6.flex.items-center.justify-center.bg-gray-200.ring-1.ring-gray-50.rounded-full
                    img.h-3.w-3(src='/images/minus.png')
                | 2
                span.text-sm.h-6.w-6.flex.items-center.justify-center.bg-gray-200.ring-1.ring-gray-50.rounded-full
                    img.h-3.w-3(src='/images/plus.png')